<div class="main-page">
  <mat-card class="main-card">
    <mat-card-header class="main-header">
      <mat-card-title>Welcome to </mat-card-title>
      <img alt="myDramas" src="https://dl.dropboxusercontent.com/s/2cn6gjz6mmtta3z/logo1.svg?dl=0" 
        crossOrigin ="anonymous" class="main-logo" 
      />
    </mat-card-header>
    
    <mat-card-actions>
      <button mat-raised-button class="main-button" (click)="openUserRegistrationDialog()">
      Sign Up
      </button>
    
      <button mat-raised-button class="main-button" (click)="openUserLoginDialog()">
        Login
      </button>
    </mat-card-actions>
  </mat-card>
</div>
