.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px;
}

.back-btn {
  border-style: solid;
  border-radius: 30px;
  padding: 2px;
  position: absolute;
  top: 85px;
  left: 60px;
}

.user-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.user-name {
  justify-self: end;
  align-self: center;
  margin-bottom: 0;
}

.user-email {
  align-self: center;
  margin-bottom: 0;
}

.update-btn {
  background-color: #07004d;
  color: white;
}

.update-btn:hover {
  opacity: 0.8;
}

.delete-btn,
.update-btn {
  width: 125px;
}
  
.card {
  margin-bottom: 30px;
}

.card-title {
  width: 213px;
  margin-left: -13px;
}

.card-img {
  width: 16rem;
  height: 22rem;
}

.button-confirmation {
  background-color: #07004d;
  color: white;
}

.mat-card-actions {
  display: flex;
  justify-content: space-evenly;
}

.mat-card-actions .mat-button {
  margin: 0 0;
}

@media (max-width: 800px){
  .back-btn {
    top: 75px;
    left: 30px;
  }
}

@media (min-width: 450px) and (max-width: 600px){
  .user-info{
    margin-right: 80px;
    margin-bottom: 30px;
  }

  .update-btn {
    margin-left: 60px;
  }
}

@media (max-width: 460px){
  .user-info{
    margin-bottom: 30px;
  }
}

@media (max-width: 340px){
  .update-btn {
    margin-bottom: 15px;
  }
}

