<app-navigation></app-navigation>

<div class="wrapper">
    <mat-icon (click)="openDramaCard()" class="back-btn">arrow_back</mat-icon>

    <div class="user-info">
        <h1 class="user-name">{{user?.Username}}/</h1>
        <p class="user-email"> {{user?.Email}}</p>
    </div>
    <button mat-raised-button class="update-btn" (click)="openUserUpdateDialog()">Update</button>
    <button mat-raised-button class="delete-btn" (click)="deleteUser()">Delete</button> 
</div>

<mat-divider></mat-divider>

<diV *ngIf="favs.length" class="wrapper">
    <mat-card *ngFor="let fav of favs; let i=index;" class="card">
        <mat-card-header>
            <mat-card-title class="card-title">{{fav.Title}}</mat-card-title>
            <mat-icon (click)="deleteUserFav(fav._id)" class="card-icon">favorite</mat-icon>
        </mat-card-header>
        <img src={{fav.ImagePath}} alt={{fav.Title}} class="card-img" />
    </mat-card>
</diV>
