.dialog-title {
  margin-left: -12px;
}

.list-title {
  font-weight: bolder !important;
}


.mat-line{
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
}

.mat-list .mat-list-item{
  height:initial!important;
  margin-bottom: 10px !important;
}

::ng-deep .mat-list-base .mat-list-item .mat-list-item-content {
  padding: 0 16px 10px !important;
}
